html
{
 margin:0px;
 background-image: url('../assets/images/background.jpg');
 background-size: 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position-y:center;
 background-color:whitesmoke;
}
#headerStyle{
    background-color:rgb(40, 94, 163);
    padding: 10px 0px 10px 10px;
    font-family:'Times New Roman', Times, serif;
    color:whitesmoke;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    align-content:center;
    display:flex;
}
#headerLogo{
    border-radius: 100px 100px 100px 100px;
}
#unifanTitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
}
#mainDiv{
    background-color:rgba(211, 247, 236, 0.26);
}
#botaoEditar{
    margin-top:10px;
}
#botaoVoltar{
    margin-top:10px;
}