BackEnd/app/dist/FrontEnd/favicon.ico
BackEnd/app/dist/FrontEnd/index.html
BackEnd/app/dist/FrontEnd/main.a29481c882743a54.js
BackEnd/app/dist/FrontEnd/polyfills.b3c88afdcde39e97.js
BackEnd/app/dist/FrontEnd/runtime.f45c5af40b9bda80.js
BackEnd/app/dist/FrontEnd/styles.e5fe5c0935c4f9fb.css
BackEnd/app/dist/FrontEnd/assets/images/background.jpg
BackEnd/app/dist/FrontEnd/assets/images/logo.jpeg
BackEnd/app/modules/sala/__pycache__/sala_routes.cpython-311.pyc
BackEnd/app/modules/sala/__pycache__/sala_service.cpython-311.pyc
BackEnd/app/modules/usuario/__pycache__/usuario_routes.cpython-311.pyc
BackEnd/app/modules/usuario/__pycache__/usuario_service.cpython-311.pyc
BackEnd/app/static/main.a29481c882743a54.js
BackEnd/app/static/polyfills.b3c88afdcde39e97.js
BackEnd/app/static/runtime.f45c5af40b9bda80.js
BackEnd/app/static/styles.e5fe5c0935c4f9fb.css
BackEnd/app/modules/login/errors/__pycache__/username_invalid_error.cpython-311.pyc
BackEnd/app/modules/login/errors/__pycache__/password_invalid_error.cpython-311.pyc
BackEnd/app/modules/login/__pycache__/login_routes.cpython-311.pyc
BackEnd/app/modules/login/__pycache__/login_controller.cpython-311.pyc
BackEnd/app/modules/disciplina/__pycache__/disciplina_service.cpython-311.pyc
BackEnd/app/modules/disciplina/__pycache__/disciplina_routes.cpython-311.pyc
BackEnd/app/modules/curso/__pycache__/curso_service.cpython-311.pyc
BackEnd/app/modules/curso/__pycache__/curso_routes.cpython-311.pyc
BackEnd/app/utils/__pycache__/security.cpython-311.pyc
BackEnd/app/dao/__pycache__/base_dao.cpython-311.pyc
BackEnd/app/config/__pycache__/config.cpython-311.pyc
BackEnd/app/__pycache__/app.cpython-311.pyc
BackEnd/app/dist/FrontEnd/3rdpartylicenses.txt
BackEnd/app/__pycache__/app.cpython-311.pyc
BackEnd/app/config/__pycache__/config.cpython-311.pyc
BackEnd/app/dao/__pycache__/base_dao.cpython-311.pyc
BackEnd/app/modules/curso/__pycache__/curso_routes.cpython-311.pyc
BackEnd/app/modules/curso/__pycache__/curso_service.cpython-311.pyc
BackEnd/app/modules/disciplina/__pycache__/disciplina_routes.cpython-311.pyc
BackEnd/app/modules/disciplina/__pycache__/disciplina_service.cpython-311.pyc
BackEnd/app/modules/login/__pycache__/login_controller.cpython-311.pyc
BackEnd/app/modules/login/__pycache__/login_routes.cpython-311.pyc
BackEnd/app/modules/login/errors/__pycache__/password_invalid_error.cpython-311.pyc
BackEnd/app/modules/login/errors/__pycache__/username_invalid_error.cpython-311.pyc
BackEnd/app/modules/sala/__pycache__/sala_routes.cpython-311.pyc
BackEnd/app/modules/sala/__pycache__/sala_service.cpython-311.pyc
BackEnd/app/modules/usuario/__pycache__/usuario_routes.cpython-311.pyc
BackEnd/app/modules/usuario/__pycache__/usuario_service.cpython-311.pyc
BackEnd/app/utils/__pycache__/security.cpython-311.pyc
